<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leeeyou.fixmyproblem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBarTheme">
        <activity android:name=".view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.Problem01_ImageActivity" />
        <activity android:name=".view.activity.Problem02_GlideActivity" />
        <activity android:name=".view.activity.Problem03_SlidingConflictActivity" />
        <activity android:name=".view.activity.Problem04_ShapeSourceActivity" />
        <activity android:name=".view.activity.Problem05_EventBusActivity" />
        <activity android:name=".view.activity.Problem06_EventDispatchActivity" />
        <activity android:name=".view.activity.Problem07_Fragment_LifeCycle_Activity" />
        <activity android:name=".view.activity.Problem08_Math_Activity" />
        <activity android:name=".view.activity.Problem09_ViewDragHelper_Activity" />
        <activity android:name=".view.activity.Problem10_JSONArray_Activity" />
        <activity
            android:name=".view.activity.Problem11_CoordinatorLayout_Activity"
            android:theme="@style/NoActionBarTheme" />
        <activity android:name=".view.activity.coordinator.Step1Activity" />
        <activity android:name=".view.activity.coordinator.Step2Activity" />
        <activity android:name=".view.activity.coordinator.Step3Activity" />
        <activity android:name=".view.activity.coordinator.Step4Activity" />
        <activity android:name=".view.activity.coordinator.Step5Activity" />
        <activity android:name=".view.activity.Problem12_CoordinateSystemActivity" />
        <activity android:name=".view.activity.Problem13_LoadBigImageActivity"></activity>
    </application>

</manifest>